GEMINI_API_KEY=your_real_key_here
GEMINI_MODEL=gemini-1.5-flash
ASSISTANT_NAME=Friday
WAKE_WORD=friday
ALWAYS_LISTEN=false
STT_ENGINE=google
VOICE_RATE=185
VOICE_VOLUME=1.0
LANGUAGE=en-US
COMMAND_CONFIRMATION=true
VOICE_GENDER=female

STT_TIMEOUT=4
STT_PHRASE_TIME_LIMIT=8
AMBIENT_CALIBRATION_SECONDS=1.0
STT_OPERATION_TIMEOUT=6
DYNAMIC_ENERGY=true
ENERGY_THRESHOLD=220
PAUSE_THRESHOLD=0.8
NON_SPEAKING_DURATION=0.4

WHISPER_MODEL=base
MICROPHONE_INDEX=
